* {
    margin: 0;
    padding: 0;
    
}

body {
    font-size: 16px;
    color: #dfdce3;
   
    background-image:url('../Images/lakers_background_2.jpg');
    background-size: cover;
}


main img{
    width: 50%;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
    
    
    

}
 main h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 5px;
    font-style: oblique;

}
main h1:hover{
    color:gold;
    font-style: oblique;
}

header {
    margin: 10px;
    height: 100px;
  
    border-radius: 10px;
}

header h1 {
    height: 100%;
    text-align: center;
    font-size: 2em;
    line-height: 2.8125em;
}

nav {
    margin: 10px;
    padding: 5px;
    height: 70px;
    background-color:rgba(88, 27, 82, 0.5);
    border-radius: 10px;
    text-decoration-color: seashell;
}

nav ul {
    height: 100%;
    border-radius: 10px;
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
    height: 100%;
    width: 120px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    display: inline-block;
    height: 100%;
    width: 100%;
    color:gold;
    line-height: 2.916em;
    
    border-radius: 10px;
    text-decoration:none;
}

nav ul li a:hover {
    background-color: #dfdce3;
    color: black;
}

main {
    margin: 10px;
    border-radius: 10px;
    
    
}





footer {
    
    height: 100px;
    background-color: black;
    justify-content: flex-end;
}
footer p{
    float:right;
}

footer ul {
    width: auto;
    height: auto;
    list-style-type: none;
    bottom:auto;
    float:right;
}

footer ul li {
    display: inline-block;
    text-align: center;
    width: auto;
    height: auto;
    margin: 3px;
}
footer ul li p{
    float:left;
}
footer ul li a {
    display: inline-block;
    width: auto;
    height: auto;
}

footer ul li a:hover{
    opacity: 0.5;
}


footer>ul{
float:center;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /*grid-auto-rows: minmax(auto,auto);*/
    grid-gap: 10px;
    
}

.grid-box1{
    grid-column: 1;
    grid-row: 1;

}

.grid-box2{
    grid-column: 2;
    grid-row: 1;
}

.grid-box3{
    grid-column: 3;
    grid-row: 1;
}

.grid-box4{
    grid-column: 4;
    grid-row: 1;
}

.grid-box5{
    grid-column: 1;
    grid-row: 2;
}

.grid-box6{
    grid-column: 2;
    grid-row: 2;
}

.grid-box7{
    grid-column: 3;
    grid-row: 2;
}
.grid-box8{
    grid-column: 4;
    grid-row: 2;
}
main img{
    padding:0px;
    margin:0px;
    width: 300px;
    height: 300px;
    border-radius: 16px;
    transition: all 1s;
    
}
img:hover{
    transform: scale(1.1);
}
