* {
    margin: 0;
    padding: 0;
    
}

body {
    font-size: 16px;
    color: #dfdce3;
   
    background-image:url('../Images/lakers_background_2.jpg');
    background-size: cover;
}

.prvi_par{
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
    font-style: oblique;
    font-weight: bold;
}
.prvi_par:hover{
    
    color: gold;
}
.drugi_par{
    align-items: center;
}
main img{
    width: 50%;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
    
  
    

}
header {
    margin: 10px;
    height: 100px;
   
    border-radius: 10px;
}

header h1 {
    height: 100%;
    text-align: center;
    font-size: 2em;
    line-height: 2.8125em;
    
}
h1{
    text-align: center;
    font-size: 45px;
    margin-bottom: 90px;
}
h1:hover{
    font-size:50px;
}
nav {
    margin: 10px;
    padding: 5px;
    height: 70px;
    background-color:rgba(88, 27, 82, 0.5);
    border-radius: 10px;
    text-decoration-color: seashell;
}

nav ul {
    height: 100%;
    border-radius: 10px;
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
    height: 100%;
    width: 120px;
}



nav ul li a {
    display: inline-block;
    height: 100%;
    width: 100%;
    color:gold;
    line-height: 2.916em;
    
    border-radius: 10px;
    text-decoration:none;
}

nav ul li a:hover {
    background-color: #dfdce3;
    color: black;
}

main {
    margin: 10px;
    border-radius: 10px;
    margin-bottom: 100px;
    
}





footer {
    
    height: 100px;
    background-color: black;
    
}
footer p{
    float:right;
}

footer ul {
    width: auto;
    height: auto;
    list-style-type: none;
    bottom:auto;
    float:right;
}

footer ul li {
    display: inline-block;
    text-align: center;
    width: auto;
    height: auto;
    margin: 3px;
}
footer ul li p{
    float:left;
}
footer ul li a {
    display: inline-block;
    width: auto;
    height: auto;
}

footer ul li a:hover{
    opacity: 0.5;
}


footer>ul{
float:center;
}
